openai
python-dotenv
PyPDF2
requests
transformers
Pillow
Markdown
beautifulsoup4
fastapi
uvicorn
python-multipart
PyMuPDF
camelot-py
opencv-python-headless
pandas
numpy
tabulate
langchain
langchain-community
langchain-openai